/*DOCUMENTO CSS*/
*{margin: 0px; 
    padding: 0px; }
    
    body { background-color: rgb(184, 242, 240);}
    
    h1 {background-color: rgb(0, 0, 0);
    padding: 16px 0px;
    text-align: center;
    color: whitesmoke;}
    
    .tablas{ width: 50%;
    margin: 24px auto 24px auto;
    background-color: rgb(255, 255, 255);
    text-align: center;}